<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
.wrapper {
	width: 1200px;
	margin: 0 auto;
}

.content-left {
	float: left;
	width: 68%;
}	

.content-right {
	float: right;
	width: 28%;
}	
.footer {
	text-align: center;
}

.clearfix{
	clear: both;
	height: 0;
	overflow: hidden;
}

</style>
</head>
<body>

<div class="header">
	<h1>POSITION 테스트</h1>
	<h3>relative, absolute를 이용한 화면 분할</h3>
</div>
<hr>
<div class="wrapper">
	<div class="content">
		<div class="content-left">
			<h2>몸이 어디 군영</h2>
			<p>이상은 동산에는 공자는 것이다. 속에 피에 뼈 이것은 바이며, 소리다.이것은 눈이 청춘이 타오르고 아니다. 이상은 동산에는 공자는 것이다. 속에 피에 뼈 이것은 바이며, 소리다.이것은 눈이 청춘이 타오르고 아니다. 
			<p>피고 군영과 주며, 만물은 놀이 것은 갑 오아이스도 피어나는 봄바람이다. 끓는 황금시대의 이것이야말로 것이 따뜻한 인류의 얼마나 귀는 품고 위하여서.피고 군영과 주며, 만물은 놀이 것은 갑 오아이스도 피어나는 봄바람이다. 끓는 황금시대의 이것이야말로 것이 따뜻한 인류의 얼마나 귀는 품고 위하여서. 
		</div>
		
		<div class="content-right">
			<h2>주는 못하다 이것이다</h2>
			<p>사랑의 긴지라 아니한 청춘의 청춘의 되는 운다. 많이 않는 품으며, 커다란 위하여, 그와 설레는 얼음 구하기 쓸쓸하랴? 사랑의 긴지라 아니한 청춘의 청춘의 되는 운다. 많이 않는 품으며, 커다란 위하여, 그와 설레는 얼음 구하기 쓸쓸하랴? 
			<p>청춘 이상은 그들은 군영과 하는 노래하며 끓는 현저하게 때에, 칼이다. 타오르고 이상, 때까지 천하를 천지는 불어 듣기만 부패뿐이다. 청춘 이상은 그들은 군영과 하는 노래하며 끓는 현저하게 때에, 칼이다. 타오르고 이상, 때까지 천하를 천지는 불어 듣기만 부패뿐이다. 
			<p>할지니, 위하여 평화스러운 대한 내려온 것이다. 관현악이며, 몸이 보는 못하다 대고, 수 어디 칼이다. 그들의 가슴이 노래하며 얼음 군영과 쓸쓸하랴?할지니, 위하여 평화스러운 대한 내려온 것이다. 관현악이며, 몸이 보는 못하다 대고, 수 어디 칼이다. 그들의 가슴이 노래하며 얼음 군영과 쓸쓸하랴?
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<hr>
<div class="footer">
&copy; BCH.
</div>

</body>
</html>